@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">歡迎使用番茄鐘</h1>
    <p>點擊 <a asp-controller="Pomodoro" asp-action="Index">這裡</a> 開始使用番茄鐘計時器。</p>
</div>